<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <title>Lista de personas</title>
</head>
<body>
    <form action="/find" method="POST">
        <label for="criterio">Criterio:</label>
        <input type="text" id="criteria" name="criteria"><br><br>
        <input type="submit" value="Buscar">
    </form>
    
    <h1>Lista de personas</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Tipo de sangre</th>
                <th>NSS</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% Object.keys(Persons).forEach(function(prop) { %>

                <tr>
                    <td><%= Persons[prop].nombre %></td>
                    <td><%= Persons[prop].edad %></td>
                    <td><%= Persons[prop].tipoSangre %></td>
                    <td><%= Persons[prop].nss %></td> 
                    
                    <td><a href="<%= `deletePerson/${Persons[prop]._id}` %>">Eliminar</a></td>
                    <td><a href="<%= `findById/${Persons[prop]._id}` %>">Actualizar</a></td>
                </tr>
            <% }); %>
            </tbody>
            </table>
       
    <div style="margin-top: 10px; margin-left: 10%;">
        <a href="./addperson" >Agregar</a>
    </div>

</body>
</html>